.Checkout {
   display: flex;
   flex-direction: row;
   height: 100%;
   max-height: 75vh;
   overflow: hidden;
   padding: 5px;
}

.itemBox {
   flex: 4;
   background-color: white;
   overflow-y: scroll;
   scrollbar-width: none;
}
.itemBox::-webkit-scrollbar {
   width: 0;
   height: 0;
}

.checkoutBox {
   flex: 1;
   background-color: white;
}