.flexContainer {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;  
}

.box {
   flex: 1;
   background-color: white;
   border-bottom: 2px solid rgba(189, 195, 199, .3);
   color: black;
   justify-content: center;
   align-items: center;
   display: flex;;
}

.cartBox {
   flex: 7;
   background-color: white;
   color: black;
}

.shoppingLogo {
   width: 45px;
   place-content: center;
   padding: 1px;
   position: relative;
   top: -8px
}

.title {
   font-size: xx-large;
   color: black;
   text-align: center;
}